:root {
  --primary: #3B82F6;
  --bg: #fff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: url("../gambar/wp6554446.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Navbar */
nav {
  height: 8vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 5%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 999;
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.firstname {
  font-size: 1.2rem;  /* default buat HP */
  color: #f3f3f3;
}

.lastname {
  font-size: 1.2rem;  /* default buat HP */
  color: yellow;
}

/* Tombol nav */
.tombol {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5%;
  margin-right: 10%;
  align-items: center;
}

.tombol li a {
  color: var(--bg);
  display: inline-block;
  transition: transform 0.3s ease;
}

.tombol li a:hover {
  color: #ffd700;
  transform: scale(1.1);
}

/* Section Kotak */
.kotak {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  margin: 5% auto;
  padding: 3%;
  max-width: 90%;
}

.kotak h2 {
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.kotak .sinopsis,
.kotak .penjelasan {
    font-size: 1rem;
    margin-bottom: 1%;
}

.kotak .rating {
    font-size: 0.95rem;
    margin-bottom: 1%;
    font-weight: bold;
}

.kotak img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

img {
  width: 100%;
  height: auto;
  margin: 1%;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.8s ease;
  box-shadow: -8px -5px 17px 2px rgba(0,0,0,0.85);
  -webkit-box-shadow: -8px -5px 17px 2px rgba(0,0,0,0.85);
  -moz-box-shadow: -8px -5px 17px 2px rgba(0,0,0,0.85);
}

img:hover {
  transform: scale(0.99);
}

/* Horizontal Scroll Gallery */
.filmscroll {
  display: flex;
  overflow-x: auto;
  gap: 1%;
  padding: 2% 0%;
  align-items: center;
}

.filmimg {
  flex: 0 0 auto;
  width: 15%;
  height: 50%;
  aspect-ratio: 2/3;
  text-align: center;
}

.filmimg img {
  width: 100%;
  height: auto;
  border-radius: 8%;
}

.filmimg p {
  text-align: center;
  color: #ddd;
  font-size: 0.9rem;
  margin-top: 5px;
}


/* Footer */
footer {
    text-align: center;
    padding: 2% 0;
}

/* Responsive untul tablet cuy */
@media (max-width: 1024px) {
    nav ul.tombol {

        gap: 4%;
    }
    .animeimg {
        width: 30%;
    }
}

/* Responsive untul mobile cuy */
@media (max-width: 769px) {
    nav {
        align-items: center;
        justify-content: space-between;
        padding: 5px 8px;
        flex-direction: row;
        align-items: flex-start;
    }

    .title {
      display: flex;
      align-items: center;
    }

     .firstname, .lastname {
    font-size: 1.2rem;
  }

    nav ul.tombol {
        flex-direction: row;
        width: 50%;
        gap: 1%;
        margin-right: 0%;
    }
    .kotak {
        width: 95%;
        padding: 4%;
    }

    .filmimg p {
      font-size: x-small;
    }
}

@media (max-width: 480px) {
  .firstname, .lastname {
    font-size: 0.8rem;
  }

  nav .tombol {
    font-size: 0.5rem;
  }

  nav {
    height: auto;
  }

  .animeimg, img {
    width: 1000%;
  }

  .kotak p {
    font-size: 0.8rem;
  }

  .kotak .rating {
    font-size: 0.6rem;
  }

  .filmimg p {
    font-size: 0.5rem;
  }
}

/* Responsive for very large screens */
@media (min-width: 1600px) {
    .firstname, .lastname {
      font-size: 3.2rem;
    }
    nav .tombol {
      font-size: 40;
    }
    .kotak {
        width: 100%;
    }

    .kotak h2 {
      font-size: 3.5rem;
    }

    .kotak p {
      font-size: 2rem;
    }

    .kotak .rating {
      font-size: 1.9rem;
    }


    .animeimg {
        width: 12%;
    }

  
}
