:root {
    --primary: #3B82F6;
    --bg: #fff;
}

nav {
    height: 40px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}


/* ini (*) buat milih semua */

* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
}

body {
    font-family: 'roboto';
    background-color: var(--bg);
    color: black;        
}

.tombol {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   gap: 30px;
   margin-right: 50px;
}

li a {
    color:black;
}

.tombol li a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.tombol li a:hover {
  transform: scale(1.2);
}


/* start desain title */
.title {
    display: flex;
    gap: 2px;
    margin-left: 10px;
    align-items: center;
    
}

.firstname {
    font-size: 20px;
    font-weight: bold;
    color: orange;
}

.lastname {
    font-size: 20px;
    font-weight: 500;
}


 